@page "/home"

<PageTitle>Home - Calcare</PageTitle>

<div class="parent">
    <div class="child">
        <h2>Important Notices</h2>
        <ul>
            <li>Doctor Thomas Jasper Cat will be out this week.</li>
            <li>Dr. Gerald Jinx Mouse will be on vacation next week.</li>
        </ul>
    </div>
    <div class="child">
        <h2>Doctors</h2>
        <ul>
            <li>Doctor Thomas Jasper Cat has 10 appointments today</li>
            <li>Doctor Gerald Jinx Mouse has 5 appointments today</li>
        </ul>
    </div>
</div>

@code {}