@layout LoginLayout

@page "/"

<PageTitle>Login - Calcare</PageTitle>
        
<div class="profilecard">
    <div class="card">
        <img id="image" src="/images/CalcareLogo.png" alt="logo">

        <div id="formdata">
            <label for="fname">Username:</label>
            <input type="text" id="fname" name="fname" placeholder="JohnDoe" size="40"><br><br>
            <label for="lname">Password:</label>
            <input type="password" id="lname" name="lname" size="40" placeholder=""><br><br>
        </div>

        <p><button id="userbtn" onclick="window.location='home';">LOGIN</button></p>
    </div>
</div>

